.footer{
    width: 100%;
    height: 100px;
}

.lista {
font-size:13px;
display: flex;
justify-content: center;
}

.separador {
  color:rgb(206, 199, 199);
  margin: 15px;
}

.lista li {
  display:inline;
  padding-left:3px;
  padding-right:3px;
}

.element{
margin:10px;
}

.copyright{
width: 100%;
text-align: center;
}

@media all and (max-width:490px){
  .lista{
    padding: 10px;
  }

  .separador{
    margin: 5px;
  }

  .element{
    margin: 5px;
  }
}
