@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(30deg, rgba(121,82,119,0.975) 30%, #355192 85%);
  background-position: center, center;
  background-repeat: no-repeat;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
