.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-image: linear-gradient(30deg, rgba(121,82,119,0.975) 30%, #355192 85%);
  height: 100%;
  background-position: center, center;
  background-repeat: no-repeat;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.css-1q1k2pz-MuiPaper-root-MuiCard-root{
  background-color: #0070f3 !important;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/*INDEX*/

  /*------------------------------------------------------------------*/
  .container{
    font-family: 'Montserrat';
    width: 100%;
    height: 100%;
    /* background-image: url("../../assets/images/overlay.png"),linear-gradient(30deg, rgba(121,82,119,0.975) 30%, #355192 85%); */
    background-size: 256px, cover;
    background-position: center, center;
    background-repeat: repeat, no-repeat;
    display: flex;
    flex-flow: wrap row;
  }

  /*----------------------------------CONTENEDOR BOTONES--------------------------------*/

  .cont{
    width: 100%;
    height: auto;
    margin-top:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
  }

  .logo{
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .log{
    width: 150px !important;
    height: 150px !important;
  }

  .textInfo{
    width: 80%;
    height: 40px;
    margin: 10px;
    color: aliceblue;
    text-align: center;
    font-size: 1.2em;
  }

  .menu{
    width: 200px;
    height: 50px;
    margin: 20px;
    background-color: #3f0466;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login{
    width: 200px;
    height: 50px;
    border: 1px solid white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .register{
    width: 90%;
    height: 20px;
    margin: 10px;
    text-align: center;
  }
  
  .menu,.login{
    border-radius: 8px;
  }
  /*----------------------------------CONTENEDOR INFORMACION--------------------------------*/

  .information{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info{
    width: 80%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    background-color: #21232450;
    border-radius: 8px;
  }

  .textInformation{
    width: 90%;
    height: 400px;
    text-align: center;
    padding: 50px;

  }

  .infoText{
    font-weight: normal;
  }

  .titleInfo{
    color: rgb(194, 196, 199);
  }

  .templates{
    width: 100%;
    height: 500px;
  }

  #caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 500px;
    width: 300%;
  }

  #contenido {
      margin: 0 auto;
      overflow: hidden;
      text-align: left;
  }

  .imagenes{
      height: 600px !important;
      width: 600px;
      border: 1px solid red;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
  }

  .carrusel {
      float: left;
      width: 1100px;
      height: 1000px;
  }

  @-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
  }

  @-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
  }

  @keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
  }

  /*----------------------------------MEDIAQUERIES--------------------------------*/

  @media all and (max-width:730px){
    .textInformation{
      padding: 30px;
    }

    .titleInfo{
      font-size: 2.5em;
    }

    .textInfo{
      margin-bottom: 30px;
    }

    .infoText{
      font-size: 1.3em;
    }
  }

  @media all and (max-width:490px){
    .textInformation{
      padding: 30px;
      height: 450px;
    }

    .textInfo{
      width: 90%;
    }

    .titleInfo{
      font-size: 2.2em;
    }

    .infoText{
      font-size: 1.2em;
    }

    .lista{
      padding: 10px;
    }

    .separador{
      margin: 5px;
    }

    .element{
      margin: 0;
    }
  }

  @media all and (max-width:420px){
    .textInformation{
      padding: 20px;
    }

    .textInfo{
      margin-bottom: 90px;
    }

    .titleInfo{
      font-size: 2em;
    }
  }


  .css-2ll248-MuiGrid-root{
    height: auto !important;
}
